.MuiToolbar-root .MuiTablePagination-selectLabel {
  margin-bottom: 0;
}

.MuiToolbar-root .MuiTablePagination-displayedRows {
  margin-bottom: 0;
}
.css-i4bv87-MuiSvgIcon-root{
  margin-left: -20px !important;
}
.css-1ygcj2i-MuiTableCell-root{
  width: 20% !important;
}
.css-hbtnrh-MuiTableCell-root{
  width:10% !important
}
.css-1ex1afd-MuiTableCell-root{
  padding-left: 20px !important;
}
.css-i4bv87-MuiSvgIcon-root{
  padding-left:10px !important ;
}